
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    background: hsla(246,74%,97%,1);
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(243, 242, 254);
    height: auto;
}


h1 {

    color: #555;
    text-transform: uppercase;
}

div#app {
    background: rgb(243, 242, 254);
}

